@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}



.header{
    .hero{
        position: relative;
        background-image: url('../img/imgNado/WhatsApp\ Image\ 2025-05-06\ at\ 09.55.38.jpeg');
        background-size: cover;
        background-position: center;
        height: 800px;
        padding-top: 2rem;
        text-align: center;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6); 
            z-index: 0;
          }
        .top_bar{
            .logo_inicio{
                width: 70%;
                margin: 0 auto;
                padding-right: 40px;
                text-align: center;
                position: relative;
                z-index: 1;
                img{
                    width: 150px;
                }
            }
            
            .navegacion_inicio{
                width: 70%;
                display: flex;
                justify-content: space-around;
                margin: 10px auto;
                position: relative;
                z-index: 1;
                li{
                    position: relative;
                    .color{
                        color: rgba(246, 135, 61, 0.854);
                    }
                    a{
                       color: white;
                       padding: 0.5rem 1rem;
                       &&::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color:rgba(246, 135, 61, 0.854);
                        transform: scaleX(0);
                        transform-origin: center;
                        transition: transform 0.3s ease;
                      }
                    &&:hover::after {
                        transform: scaleX(1);
                      }
                    }
                }
            }

            .menu_phone{
                display: none;
            }
        }

        .texto_hero{
            width: 50%;
            margin: 100px auto;
            position: relative;
            z-index: 1;
            color: white;
            h1{
                border-bottom: solid 4px white;
                padding-bottom: 10px;  
            }
        }
    }
}


main{
    .unirse_inicio{
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        margin: 50px auto;
        width: 70%;
        .descripcion{
            text-align: left;
            margin-top: 100px;
            width: 80%;
            h4{
                width: 50%;
                font-weight: 800;
                border-left: solid 5px rgba(0, 0, 240, 0.7);
                padding-left: 15px;
                margin: 10px 0;
            }
            p{
                width: 70%;
            }
        }
        .texto_unirse{
           
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px); /* Para Safari */
            border-radius: 15px;
            padding: 50px;
            color: black;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
            text-align: center;
            max-width: 600px;
            margin: 50px auto;
            h2{
                margin-bottom: 30px;
            }
            a{
               background-color: rgba(0, 0, 240, 0.7);
                padding: 10px;
                margin-top: 20px;
                width: 30%;
                box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
                color: white;
                font-weight: 900;
            }
        }
    }



    .profesores_inicio{
        background-color: rgba(242, 119, 37, 0.856);
        border-top: 4px solid rgb(205, 97, 25);
        .titulo_profes{
            width: 70%;
            margin: 0 auto;
            padding-top: 40px;
        }
        .contenedor_profes{
            display: flex;
            width: 70%;
            justify-content: space-around;
            margin: 40px auto;
            padding-bottom: 40px;
            position: relative;
            .card{
                background-color: rgb(205, 97, 25);
                border: none;
                box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
                position: relative;
                z-index: 1;
                p{
                    border-bottom: 4px solid rgba(0, 0, 240, 0.7);
                    width: 50%;
                }
            }
            .logo-fondo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 400px; /* Ajustá según tu necesidad */
                opacity: 0.8;
                z-index: 0;
                pointer-events: none;
              }
        }
    }


    .galeria_inicio{
        display: flex;
        margin: 0 auto;
        width: 70%;
        .texto_galeria{
            margin: auto;
            width: 50%;
        }
        .modal {
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.9);
          }
        .galeria {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: center;
            margin: 40px auto;
            max-width: 800px;
          }
          
          .img-galeria {
            width: 45%;
            border-radius: 10px;
            cursor: pointer;
            transition: transform 0.3s ease;
          }
          
          .img-galeria:hover {
            transform: scale(1.05);
          }
    }


    .contenedor_redes{
        width: 70%;
        margin: 150px auto;
        text-align: center;
        .texto_redes{
            h2{
                color:rgba(0, 0, 240, 0.7);
                width: 40%;
                padding-bottom: 20px;
                margin: 0 auto;
            }
        }
        .link_redes{
            width: 40%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
        }
    }
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    p{
        margin: 0;
        padding: 30px;
    }
}


@media (max-width: 768px) {
    .top-bar {
        display: flex;
        justify-content: space-between;
        .logo_inicio{
            width: 50%;
        }
        #nav{
            display: none;
        }
        .menu_phone{
            display: block;
            position: relative;
            z-index: 1;
        }
       }
       .texto_hero {
        margin-top: 30px;
      }
    }
  
  