@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


*{
    font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}



.header{
    .hero{
        position: relative;
        background-image: url('../img/imgNado/IMGN2.jpeg');
        background-size: cover;
        background-position: center;
        height: 650px;
        padding-top: 2rem;
        text-align: center;
        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.6); 
            z-index: 0;
          }
        .top_bar{
            .logo_inicio{
                width: 70%;
                margin: 0 auto;
                padding-right: 40px;
                text-align: center;
                position: relative;
                z-index: 1;
                img{
                    width: 150px;
                }
            }

            .menu_phone{
                display: none;
            }
        }

        .texto_hero{
            width: 50%;
            margin: 100px auto;
            position: relative;
            z-index: 1;
            color: white;
            h1{
                border-bottom: solid 4px white;
                padding-bottom: 10px;  
            }
        }
    }
}


main{
    .unirse_inicio{
        background-color: white;
        display: flex;
        justify-content: space-evenly;
        margin: 50px auto;
        width: 70%;
        .descripcion{
            text-align: left;
            margin-top: 100px;
            width: 80%;
            h4{
                width: 50%;
                font-weight: 800;
                border-left: solid 5px rgba(0, 0, 240, 0.7);
                padding-left: 15px;
                margin: 10px 0;
            }
            p{
                width: 70%;
            }
            .parrafo{
                font-size: larger;
                font-weight: bold;
                color: rgba(0, 0, 240, 0.7);
            }
        }
        .texto_unirse{
           
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px); /* Para Safari */
            border-radius: 15px;
            padding: 50px;
            color: black;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
            text-align: center;
            max-width: 600px;
            margin: 50px auto;
            h2{
                margin-bottom: 30px;
            }
            a{
               background-color: rgba(0, 0, 240, 0.7);
                padding: 10px;
                margin-top: 20px;
                width: 30%;
                box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
                color: white;
                font-weight: 900;
            }
        }
    }



    .profesores_inicio{
        background-color: rgba(242, 119, 37, 0.856);
        border-top: 4px solid rgb(205, 97, 25);
        text-align: center;
        .titulo_profes{
            width: 70%;
            margin: 0 auto;
            padding-top: 40px;
        }
        .contenedor_profes{
            display: flex;
            width: 70%;
            justify-content: space-around;
            margin: 40px auto;
            padding-bottom: 40px;
            position: relative;
            .card{
                background-color: rgb(205, 97, 25);
                border: none;
                width: 18rem;
                box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
                position: relative;
                z-index: 1;
                p{
                    border-bottom: 4px solid rgba(0, 0, 240, 0.7);
                    width: 50%;
                    margin: 0 auto;
                }
            }
            .logo-fondo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 400px; /* Ajustá según tu necesidad */
                opacity: 0.8;
                z-index: 0;
                pointer-events: none;
              }
        }
    }


    .galeria_inicio{
        display: flex;
        margin: 150px auto;
        width: 70%;
        padding: 0 10px;
        .texto_galeria{
            margin: auto;
            width: 50%;
            .contenedor_titulo_galeria{
                display: flex;
                justify-content: space-evenly;
                h2{
                    margin: auto 0;
                }
            }
            .logo_galeria{
                text-align: center;
            }
        }
        .modal {
            position: fixed;
            z-index: 9999;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.9);
          }
        .galeria {
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 2 columnas */
            gap: 10px;
            width: 40%;
            margin: 0 auto;
          }
          
          .img-galeria {
            width: 100%;           /* o el ancho que desees */
            height: 180px;
            object-fit: cover;          /* o el alto que quieras */
            border-radius: 10px;
            cursor: pointer;
            transition: transform 0.3s ease;
          }
          
          .img-galeria:hover {
            transform: scale(1.05);
          }

          .logo_galeria{
            img{
                width: 30%;
            }
          }
    }


    .contenedor_redes{
        width: 70%;
        margin: 150px auto;
        text-align: center;
        .texto_redes{
            h2{
                color:rgba(0, 0, 240, 0.7);
                width: 40%;
                padding-bottom: 20px;
                margin: 0 auto;
            }
        }
        .link_redes{
            font-size: 5rem;
            width: 40%;
            margin: 0 auto;
            display: flex;
            justify-content: space-around;
             i{
                        color: rgb(205, 97, 25);
                }
        }
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.92);
    color: #fff;
    padding: 40px 20px;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  
  .footer-section h4 {
    color: #f6873d;
    margin-bottom: 10px;
  }
  
  .footer-bottom {
    border-top: 1px solid #444;
    padding-top: 40px;
    font-size: 0.9rem;
  }
  
  